*{
    margin:0;
    padding: 0;
    font-family: cursive;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.about-section{
    background:url(logo.jpeg) no-repeat left;
    background-size: 28%;
    background-color: rgb(177, 220, 171);
    overflow:hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float:right;
    background-color: rgb(160, 225, 28);
    padding:150px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: rgb(23, 23, 24);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.home button{
    float:right;
    font-weight: bold;
    padding:10px;
    margin-right:20px;
    font-size:20px;
    background-color: coral;
    }
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width:100%;
    }
    
}